// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2025 Enclustra GmbH
 * <info@enclustra.com>
 */

#include "enclustra_mercury_mp1_common.dtsi"

/ {
	model = "enclustra,me-mp1-250-si-d3en";

	aliases {
		ethernet0 = &mac0;
		ethernet1 = &mac1;
	};

	/* 1 Gbyte DDR4 memory in 32bit addressable memory */
	mss_memory_low: memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x40000000>;
	};

	/* 1 Gbyte DDR4 memory in 64bit addressable memory */
	mss_memory_high: memory@1000000000 {
		device_type = "memory";
		reg = <0x10 0x0 0x0 0x40000000>;
	};
};

&mac0 {
	status = "okay";
	/delete-property/ mac-address;
	/delete-property/ local-mac-address;
	phy-mode = "sgmii";
	phy-handle = <&phy0>;
};

&mac1 {
	phy0: ethernet-phy@0 {
		reg = <0>;
	};
};
